openapi: 3.1.0
info:
  version: 1.0.0
  title: Tasteorama app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of Tasteorama app
tags:
  - name: Auth
    description: Auth operations.
  - name: Users
    description: Operations about users.
  - name: Favorites
    description: Operations about user's favorite recipes.
  - name: Categories
    description: Operations about categories.
  - name: Ingredients
    description: Operations about ingredients.
  - name: Recipes
    description: Operations about recipes.

servers:
  - url: https://final-project-backend-rtvo.onrender.com
  - url: http://localhost:3000
paths:
  /api/auth/login:
    post:
      $ref: ../swagger/paths/auth/login/post.yaml
  /api/auth/register:
    post:
      $ref: ../swagger/paths/auth/register/post.yaml
  /api/auth/logout:
    post:
      $ref: ../swagger/paths/auth/logout/post.yaml
  /api/auth/refresh:
    post:
      $ref: ../swagger/paths/auth/refresh/post.yaml
  /api/users/current:
    get:
      $ref: ../swagger/paths/users/current/get.yaml
  /api/users/favorites:
    get:
      $ref: ../swagger/paths/users/favorites/get.yaml
  /api/users/favorites/{id}:
    post:
      $ref: ../swagger/paths/users/favorites/by-id/post.yaml
    delete:
      $ref: ../swagger/paths/users/favorites/by-id/delete.yaml
  /api/categories:
    get:
      $ref: ../swagger/paths/categories/get.yaml
  /api/ingredients:
    get:
      $ref: ../swagger/paths/ingredients/get.yaml
  /api/recipes:
    post:
      $ref: ../swagger/paths/recipes/post.yaml
  /api/recipes/{id}:
    get:
      $ref: ../swagger/paths/recipes/by-id/get.yaml
    delete:
      $ref: ../swagger/paths/recipes/by-id/delete.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Category:
      $ref: '../swagger/components/schemas/category.yaml'
    Ingredient:
      $ref: '../swagger/components/schemas/ingredient.yaml'
